
*{
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-image: linear-gradient(236deg, #277782, #3a52bc);
    height: 100vh;
    justify-content: center;
}

.calculator {
    
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;

  }
  
  .display {
    width: 220px;
    background-color: #222222;
    color: #fff;
    font-size: 1.714285714em;
    padding: 10px 10px;
    text-align: right;
    margin-bottom: 5px;
  }

  .calculator_keys {
    margin-left: 10px;

  }


.key{
    width: 70px;
}